.insurance-record-form {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.control-elem {
    border: 0.1em dashed #d9edf6;
}

.control-elem--shadow {
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5)
}

.control-elem--row-direction {
    display: flex;
    text-align: end;
    gap: 1em;
    padding: 0.8em;
}

.control-elem--row-direction .control-elem__label {
    flex-basis: 20%;
    margin: 0.5em 0 0.5em 0;
}

.control-elem--row-direction .control-elem__input {
    width: 100%;
    padding: 0.5em;
    background-color: #ececec;
    border: 0.1em solid #ccc;
    border-radius: 0.3em;
}


.control-elem--column-direction {
    display: block;
}

.control-elem--column-direction .control-elem__header {
    background-color: #d9edf6;
    color: #0070a3;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.control-elem--column-direction .control-elem__body {
    padding: 1em;
}

.submit-holder {
    text-align: end;
}

.submit-button {
    max-width: fit-content;
    color: white;
    background-color: rgb(46, 166, 46);
    border: 0.1em solid #ccc;
    padding: 0.7em;
}